<div class="top">
  <h1>~新規登録~</h1>
</div>

<div class="main">
  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      
    <div class="form-area">
      <div class="field">
        <%= f.label "名前", class:"label-name" %><br />
        <%= f.text_field :name, class:"input-field", placeholder:"例）〇〇太郎" %>
      </div>
      <div class="field">
        <%= f.label "従業員番号（半角数字６桁）", class:"label-name" %><br />
        <%= f.text_field :number, class:"input-field", placeholder:"000000" %>
      </div>
      <div class="field">
        <%= f.label "メールアドレス", class:"label-name" %><br />
        <%= f.email_field :email, class:"input-field", placeholder:"例）〇〇@..." %>
      </div>
      <div class="field">
        <%= f.label "パスワード", class:"label-name" %><br />
        <%= f.password_field :password, class:"input-field", placeholder:"６文字以上英数字のみ" %>
      </div>
      <div class="field">
        <%= f.label "パスワード（確認用）", class:"label-name" %><br />
        <%= f.password_field :password_confirmation, class:"input-field" %>
      </div>
      <div class="submit-area" >
        <%= f.submit "登録", class:"submit-botton" %>
      </div>
    </div>

    </div>
  <% end %>
</div>