<div class="header">
  <div class="title-name">~シフト管理~</div>
    <ul class="lists-right">
      <% if user_signed_in? %>
        <li class = "user-number">No:<%= current_user.number %></li>
        <li class = "user-name"><%= current_user.name %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
</div>